<!DOCTYPE html>

<html>
  
  <head>
    {% block head %}
    <title> {% block title %} {% endblock %}
      TITLE
    </title>
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
    <form action="/">
      <input type="submit" name="home_Button" value="Home">
      <input type="submit" name="logoutbutton" value="Logout">
    </form>
    <hr>
    {% endblock %}
	  {% block content %}
	  CONTENT
	  {% endblock %}
	  </body>

  {% block footer %}
  &copy; copyright 2018 by Quack-a-Moo
  {% endblock %}
  
</html>
