{% extends 'base.html' %}
{% block head %}<title> Create </title>{% endblock %}
{% block content %}
    {% block heading %}
        <h1>Create Story</h1>
    {% endblock %}
<form action = "/view" method="POST">
    {% block title %}
        <h2>Christen your story</h2>
        <input type = "text" name = "title" value="My frist tsory">
        <br>
    {% endblock %}
    <h4>Write Some stuff</h4>
    <textarea name= "body" rows = "10" cols ="150">Bacon ipsum dolor amet ribeye shank chicken short loin t-bone, biltong doner sausage shoulder ground round pancetta leberkas.</textarea>
    <br>
    <input type = "submit" name = "submit" value="create">
    <br>
{% endblock %}



