{% extends 'base.html' %}

{% block head %}<title> Home </title>{% endblock %}
{% block content %}
<h1>{{Name}}</h1>
{% set msgs = get_flashed_messages() %}
	{% for each in msgs %}
		<h2>{{each}}<h2>
		<br>
{% endfor %}
<h1 align="center">Welcome</h1>
<h2>Stories Edited</h2>
<ol>
  {% for story in edited %}
   <li><a href="/view?title={{story[1]}}&storyId={{story[0]}}">{{story[1]}}</a></li>
  {% endfor %}
</ol>
<h2>Best Stories</h2>
<ol>
   {% for story in popular %}
   <li><a href="/edit?title={{story}}&storyId={{storyId}}">{{story}}</a></li>
   {% endfor %}
</ol>
<h2><a href="/all">All Stories</a></h2>
<h2><a href="/create">Create Your Own</a></h2>
{% endblock %}


    
